:root {
  --color-accent: #2196f3;
  --main-color: #000000;
  --secondary-color: #ffffff;
  --main-font: 'Roboto', sans-serif;
  --background-color: #2f303a;
  --portfolio-main-color: #212121;
  --text-color: #757575;
  --button-color: #f5f4fa;
  --svg-color: #afb1b8;
  --main-padding: 94px;
  --main-margin: 30px;
  --main-duration: 250ms;
  --main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.current {
  color: var(--color-accent);
}

.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-accent);
}

body {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
  }
}

.btn {
  display: block;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.container {
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: var(--main-margin);
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--main-color);
}

.logo__part {
  color: var(--color-accent);
}

.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--secondary-color);
}

@media (max-width: 767px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
    padding-bottom: 0px;
  }
}

@media (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.burger-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-color);
  z-index: 999;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: flex;
}

.close-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
}

.mobile-menu__container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.burger-btn__icon:focus,
.burger-btn__icon:hover,
.close-btn__icon:focus,
.close-btn__icon:hover {
  fill: var(--color-accent);
}

.mobile-menu__list {
  list-style: none;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu__link:focus,
.mobile-menu__link:hover {
  color: var(--color-accent);
}

.mobile-contact__list {
  list-style: none;
  margin-top: auto;
}

.mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-tel__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-mail__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-networks__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.mobile-networks__link {
  text-decoration: none;
  padding-right: 10px;
  margin-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
    list-style: none;
  }
}

.nav-list__link {
  position: relative;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--main-duration) var(--main-timing-function);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--color-accent);
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header-list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .header-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact-link {
  display: none;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
  transition: color var(--main-duration) var(--main-timing-function);
}

@media (max-width: 1199px) {
  .contact-link {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .contact-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact-link:hover, .contact-link:focus {
  color: var(--color-accent);
}

.contact-link__icon {
  margin-right: 10px;
  fill: var(--text-color);
  transition: fill var(--main-duration) var(--main-timing-function);
}

.contact-link:hover .contact-link__icon,
.contact-link:focus .contact-link__icon {
  fill: var(--color-accent);
}

.hero {
  background-color: var(--background-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 1600px;
  height: auto;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (max-width: 479px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-mobile.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 479px), (min-resolution: 192dpi) and (max-width: 479px), (min-resolution: 2dppx) and (max-width: 479px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-mobile2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero {
    display: flex;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px), (min-resolution: 192dpi) and (min-width: 480px), (min-resolution: 2dppx) and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-tablet2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/h.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/h2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__container {
  max-width: 360px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .hero__container {
    max-width: 696px;
  }
}

.hero__title {
  text-align: center;
  margin-bottom: var(--main-margin);
  font-weight: 900;
  color: var(--secondary-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 1119px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--color-accent);
  color: var(--secondary-color);
  letter-spacing: 0.06em;
  transition: background-color var(--main-duration) var(--main-timing-function);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.preference-list {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .preference-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .preference-list {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .preference-list__item {
    width: calc(100% / 2 - var(--main-margin));
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .preference-list__item {
    width: calc(100% / 4 - var(--main-margin));
  }
}

@media screen and (max-width: 767px) {
  .preference-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.preference-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: var(--main-margin);
}

.preference-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .preference-list__title {
    text-align: initial;
  }
}

.preference-list__text {
  display: block;
  line-height: 1.71;
  color: var(--text-color);
}

@media screen and (max-width: 1199px) {
  .work-section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work-section {
    padding-top: 0;
  }
}

.work-section__list {
  display: flex;
  list-style: none;
  margin-top: 50px;
  margin-left: calc(var(--main-margin) * -1);
}

.work-section__item {
  width: calc(100% / 3 - var(--main-margin));
  margin-left: var(--main-margin);
  display: flex;
}

.work-card {
  position: relative;
  max-height: 294px;
}

.work-card__title {
  position: absolute;
  width: 100%;
  display: flex;
  height: 70px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  font-weight: 700;
  text-transform: uppercase;
}

.team-section {
  background-color: #f5f4fa;
}

@media screen and (max-width: 1119px) {
  .team-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.team-section__list {
  list-style: none;
  margin: -15px;
}

@media screen and (max-width: 767px) {
  .team-section__list {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .team-section__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
}

.team-section__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow var(--main-duration) var(--main-timing-function);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .team-section__item {
    width: calc(100% / 2 - var(--main-margin));
  }
}

@media screen and (min-width: 1200px) {
  .team-section__item {
    width: calc(100% / 4 - var(--main-margin));
  }
}

.card-img {
  width: 100%;
  height: 100%;
}

.card-component {
  width: 100%;
  padding: 30px;
}

.employee {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.specialty {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: var(--text-color);
}

.social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 16px;
}

.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition: background-color var(--main-duration) var(--main-timing-function);
}

.social-networks__link-dark {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--secondary-color);
}

.social-networks__link:focus, .social-networks__link:hover {
  background-color: var(--color-accent);
}

.social-networks__icon {
  width: 20px;
  height: 20px;
  fill: var(--svg-color);
  transition: fill var(--main-duration) var(--main-timing-function);
}

.social-networks__link:focus .social-networks__icon,
.social-networks__link:hover .social-networks__icon {
  fill: var(--secondary-color);
}

.customer-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .customer-list {
    flex-wrap: nowrap;
  }
}

.customer-list__item {
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .customer-list__item {
    width: calc(100% / 2 - var(--main-margin));
  }
}

@media screen and (min-width: 768px) {
  .customer-list__item {
    width: calc(100% / 3 - var(--main-margin));
  }
}

@media screen and (min-width: 1200px) {
  .customer-list__item {
    width: calc(100% / 6 - var(--main-margin));
  }
}

.customer-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--svg-color);
  border-radius: 4px;
  transition: color var(--main-duration) var(--main-timing-function);
}

.customer-list__link:hover, .customer-list__link:focus {
  border: 1px solid var(--color-accent);
}

.customer-list__icon {
  align-items: center;
  justify-content: center;
  fill: var(--svg-color);
  transition: fill var(--main-duration) var(--main-timing-function);
}

.customer-list__link:hover .customer-list__icon,
.customer-list__link:focus .customer-list__icon {
  fill: var(--color-accent);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer__container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1199px) {
  .footer__address {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__address {
    margin-bottom: 60px;
    margin-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address {
    margin: 0;
  }
}

.footer__address-list {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .footer__address-list {
    text-align: center;
  }
}

.footer__logo {
  color: var(--secondary-color);
}

.footer__network {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .footer__network {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__network {
    margin-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__network {
    margin-left: 70px;
    align-items: flex-start;
  }
}

.footer__title {
  color: var(--secondary-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 4px;
}

@media screen and (max-width: 1199px) {
  .footer__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__form-container {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form-container {
    margin: 0 0 0 auto;
  }
}

.address-list {
  list-style: none;
}

@media screen and (max-width: 1199px) {
  .address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.address-list__item .contact-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  padding: 0;
  transition: color var(--main-duration) var(--main-timing-function);
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--secondary-color);
  text-decoration: none;
  transition: color var(--main-duration) var(--main-timing-function);
}

.address-list__link:hover, .address-list__link:focus {
  color: var(--color-accent);
}

.address-list__item .contact-link:focus,
.address-list__item .contact-link:hover {
  color: var(--color-accent);
}

.form {
  display: flex;
}

.footer-form {
  margin-top: 20px;
}

@media screen and (max-width: 1199px) {
  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer-form__field {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-form__field {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__field {
    width: 358px;
  }
}

.footer-form__input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.footer-form__input:focus {
  outline: none;
  border-color: var(--color-accent);
}

.footer-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background: var(--color-accent);
  border: none;
  border-radius: 4px;
  padding: 0;
  margin-left: 12px;
  cursor: pointer;
  transition: background-color var(--main-duration) var(--main-timing-function), box-shadow var(--main-duration) var(--main-timing-function);
}

.footer-form__btn:focus, .footer-form__btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #188ce8;
}

@media (max-width: 1199px) {
  .footer-form__btn {
    margin-top: 20px;
  }
}

.footer-form__icon {
  display: inline-block;
  align-items: center;
  justify-content: baseline;
  margin-left: 10px;
  fill: var(--secondary-color);
}

.portfolio__button-list {
  display: flex;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .portfolio__button-list {
    flex-wrap: wrap;
    align-items: flex-start;
    margin: -8px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__button-list {
    justify-content: center;
  }
}

.portfolio__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--portfolio-main-color);
  background-color: var(--button-color);
  transition: background-color var(--main-duration) var(--main-timing-function), box-shadow var(--main-duration) var(--main-timing-function), color var(--main-duration) var(--main-timing-function);
}

.portfolio__button:hover, .portfolio__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-accent);
  color: var(--secondary-color);
}

@media screen and (max-width: 767px) {
  .portfolio__button-item {
    margin: 8px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__button-item:not(:last-child) {
    margin-right: 8px;
  }
}

.portfolio-list {
  list-style: none;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    margin-top: 50px;
  }
}

.portfolio-list__link {
  text-decoration: none;
  transition: box-shadow var(--main-duration) var(--main-timing-function);
}

.portfolio-list__link:focus .product,
.portfolio-list__link:hover .product {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__item {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

@media screen and (max-width: 767px) {
  .portfolio-list__item {
    width: 100%;
    margin-bottom: var(--main-margin);
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list__item {
    width: calc(100% / 2 - var(--main-margin));
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    width: calc(100% / 3 - var(--main-margin));
  }
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__img {
  margin: 0;
  padding: 0;
  width: 100%;
}

.product__overlay {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--main-duration) var(--main-timing-function);
}

.portfolio-list__link:hover .product__overlay,
.portfolio-list__link:focus .product__overlay {
  transform: translateY(-101%);
}

.product__content {
  align-items: center;
  padding: 20px 24px;
  padding-right: 0;
}

.product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--portfolio-main-color);
  letter-spacing: 0.06em;
}

.product__text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity var(--main-duration) var(--main-timing-function), visibility var(--main-duration) var(--main-timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--secondary-color);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 479px) {
  .modal {
    max-width: 450px;
    max-height: 609px;
    padding: 20px;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    padding: 40px;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 580px;
  }
}

.modal__close-btn {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid #0000001a;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.modal-form__field {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__field:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--main-duration) var(--main-timing-function);
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--color-accent);
}

.modal-form__box {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: background-color var(--main-duration) var(--main-timing-function);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--color-accent);
}

.modal-form__message {
  width: 100%;
  max-height: 120px;
  margin-top: 4px;
  margin-bottom: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--main-duration) var(--main-timing-function);
}

.modal-form__message:focus {
  outline: none;
  border-color: var(--color-accent);
}

.modal-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .modal-form__message {
    height: 120px;
  }
}

.modal-form__checkbox-label {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 10px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .modal-form__checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1199px) {
  .modal-form__checkbox-label {
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal-form__checkbox-label::before {
  display: inline-flex;
  content: '';
  width: 16px;
  height: 15px;
  border: 1px solid var(--portfolio-main-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form__checkbox:checked + .modal-form__checkbox-label::before,
.modal-form__checkbox:focus:checked + .modal-form__checkbox-label::before {
  border: none;
  background-image: url(../image/icon-check.svg);
  background-size: cover;
  background-position: center;
  max-width: 16px;
  height: 15px;
}

.modal-form__checkbox:focus + .modal-form__checkbox-label::before {
  border: 1px solid var(--color-accent);
}

.modal-form__label-link {
  line-height: 1.71;
  color: var(--color-accent);
}

@media (max-width: 1199px) {
  .modal-form__label-link {
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal-form__btn {
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background: var(--color-accent);
  transition: background-color var(--main-duration) var(--main-timing-function), box-shadow var(--main-duration) var(--main-timing-function);
}

.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=main.css.map */