.social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 16px;
}

.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition: background-color var(--main-duration) var(--main-timing-function);

  &-dark {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--secondary-color);
  }

  &:focus,
  &:hover {
    background-color: var(--color-accent);
  }
}

.social-networks__icon {
  width: 20px;
  height: 20px;
  fill: var(--svg-color);
  transition: fill var(--main-duration) var(--main-timing-function);
}

.social-networks__link:focus .social-networks__icon,
.social-networks__link:hover .social-networks__icon {
  fill: var(--secondary-color);
}
