:root {
  --color-accent: #2196f3;
  --main-color: #000000;
  --secondary-color: #ffffff;
  --main-font: 'Roboto', sans-serif;
  --background-color: #2f303a;
  --portfolio-main-color: #212121;
  --text-color: #757575;
  --button-color: #f5f4fa;
  --svg-color: #afb1b8;
  --main-padding: 94px;
  --main-margin: 30px;
  --main-duration: 250ms;
  --main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
